.button, .button a  {
    background-color: #04AA6D;
    color: #ffff;
    border-color: #04AA6D;
    width: 150px;
    height: 25px;
    margin: 5px;
}

.button:hover, .button a:hover{
    cursor: pointer;
}

.button a {
    text-decoration: none;
}

#acaoExcluir, #acaoExcluir a  {
    width: 80px;
    background-color: tomato;
    border-color: tomato;
}
