html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.background-06 {
    background: linear-gradient(90deg, #43a4f9, #1ef4ff);
}

body {
    height: 97vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;    
}

.header ul li {
    list-style: none;
}

.header ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

.header ul li a:hover {
    font-weight: 100;
    background-color: #1ef4ff;
}

/* CLASSE CONTAINER */
.container{
    margin: 25px;
    display: flex;
    flex-direction: column;
    height: 80vh;
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#autor{
    /* NEGRITO */
    font-weight: bold;
    margin: 0 5px;
}