* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;        
}

.background-06 {
    background: linear-gradient(90deg, #43a4f9, #1ef4ff);
}

body{
    height: 85vh; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}